@import url('https://fonts.googleapis.com/css?family=Ubuntu');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Ubuntu',sans-serif;
    display: flex;
    align-items: center;    
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.bg{
    background: url('https://t3.ftcdn.net/jpg/02/65/79/44/360_F_265794447_2sauB9L7rGqjeVbnrZmVjypt1ZgLO0pH.jpg')no-repeat center center/cover;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    filter: blur(0px);
}